html {
  font-family: 'Prompt',sans-serif;
}

body {
  font-family: 'Prompt',sans-serif;
  position: relative;
  color: #4F4F4F;
}

a {
    color: #4F4F4F;
}

a:hover,
a:focus {
    color: #ff8c3f;
}

/*Social media buttons for contact and footer*/
.icons{
  padding: 7px;
  /*font-size: 30px;*/
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}
.icons:hover{
  color: white;
  background: #FF8C3F;
  text-decoration: none;
}
.icons-2{
  padding: 7px;
  font-size: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.icons-2:hover{
  color: white;
  background: #FF8C3F;
  text-decoration: none;
}
.foot-padding{
  margin-top: 1rem;
  margin-bottom: 0.8rem;
  text-align: left;
}
.bar-list{
  color: #A6A6A6;
  padding: 5px;
}
.bar-list:hover{
  color: #FF8C3F;
}
.top-arrow{
  color: #4F4F4F;
}
/*.fa-noeffect {
  font-size: 250%;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}*/
.fa-angle-right{
  padding-top: 5%;
  width: 0;
  height: 0;
}
.fa-facebook {
  background: rgba(0, 0, 0, 0.51);
  color: white;
}
.fa-facebook2 {
  background: #999D9F;
  color: #343C3F;
}
.fa-twitter {
  background: rgba(0, 0, 0, 0.51);
  color: white;
}

.fa-google {
  background: rgba(0, 0, 0, 0.51);
  color: white;
}

.fa-linkedin {
  background: rgba(0, 0, 0, 0.51);
  color: white;
}

.foot {
  position: absolute;
  right: 0;
  left: 0;
  background-color: #343C3F;
  text-align: center;
}
.foot p{
  margin-top: 1rem;
  margin-bottom: 0.8rem;
}
.badge2 {
  display: inline-block;
  padding: 0.5em 0.4em;
  width: 8.6875rem;
  height: 2.125rem;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.625rem;
}
.badge-light2 {
  color: #ffffff;
  background-color: #FF8C3F;
}
.feedback{
  float: left;
  color:#999D9F;
}
.phone{
  text-align: center;
  color: #999D9F;
}